<a href="https://colab.research.google.com/github/2016130786/class-2021-spring-/blob/main/syntax(%ED%95%84%EA%B8%B0%EB%B3%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [2]:
a = [1,2,3,4,5,6,74,8,9,10]
for i in range(0,10,3):
  print(a[i])

1
4
74
10

range(0,10,3) 은 0번째부터 10번째 직전순까지 3칸씩 띄어라

for ~ in ~ :

print(~)
for는 반드시 위의 형태를 지켜라.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

a의 길이는 4. range(4)는 0123 숫자4개를 만듬. print(a[i])는 a의 0번째 1번째 2번째 3번째를 반복한다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

**skip**

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

skip

In [4]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

a = 0 

if a == 0: (만약 a가 0이면 프린트하라)

print(a)

else:
print(a+1)

만약 a가 0이 아니라면 1을 더해라

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

안쪽 루트 j루트의 변수는 3과 5직전 4

바깥쪽 루트 i루트의 변수는 1과 3직전 2

3x1, 4x1, 3x2, 4x2 의 순환

In [6]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

출제가능! 

j변수는 3과 4 

i변수는 1과 2

3, 4, 6, 8 

중간에 if j >= 4:

조건문이 들어가 있으므로 4이상의 변수만 순환시켜라

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

for i in a if i == 2

1이 i로 삽입 되는 순간 1은 2보다 작아서 산출이 안됨

#>=는 이상을 의미

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

len(i)는 글자의 길이를 의미