<a href="https://colab.research.google.com/github/2016130786/class-2021-spring-/blob/main/variables(%ED%95%84%EA%B8%B0%EB%B3%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

int 는 정수

In [10]:
a = 1; a = float(a); print(type(a)) 
print(a)

<class 'float'>
1.0

float는 소수점

In [11]:
a = 1.2; a = int(a); print(type(a)) 
print(a)

<class 'int'>
1

int를 적용하면서 반올림이 된다.

In [15]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

str은 문자열이고 [1]은 문자열 순서로 0123456순서로 이어진다

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

a가 list형태로 산출되고, a는 123의 리스트 형태이고, a[2]는 a리스트중 3번째 입력값

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

a의 타입은 list이고, a의 0번째는 1, 1번째는 2, 2번째는 34 이다.

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

tuple과 list의 차이점 tuple은 () list는[]

In [16]:
a = [1,2,3,]
a[0] = -1
a

[-1, 2, 3]

list는 list안에 있는 변수를 바꿀수 있지만 tuple은 안에 있는 변수를 바꿀수 없다

In [18]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

dict는 {}를 사용한다. a : b. c : d, 의 형태로 구성되어 있다. 일종의 사전형태. dict는 n번째 숫자로 산출되는 것이 아니라, 직접적인 변수를 입력해서 산출한다.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]